<section class="py-5 text-container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-6 mx-auto">
      <h1>Start Application:</h1>
      <%= bootstrap_form_with url: '/applications', method: :post, local: true do |form| %>
        <%= form.text_field :name, required: true %>
        <%= form.text_field :street, required: true %>
        <%= form.text_field :city, required: true %>
        <%= form.text_field :state, required: true %>
        <%= form.number_field :zip_code, required: true %>

        <%= form.submit "Submit"%>
      <% end %>
    </div>
  </div>
</section>
